body {
    background-color: black;
}

.title {
    color: white;
}

.project {
    display: flex;
    background-color: white;
    justify-content: center;
    place-items: center;
    border: solid 2px;
    text-align: center;
    font-size: 30px;
    margin: 5px;
}

.project-grid {
    display: grid;
    grid-template-rows: repeat(4, 150px);
    grid-template-columns: repeat(4, 150px);
    justify-content: center;
}